#containor{
    background-color: blueviolet;
    border: 2px black solid;
    width: 33%;
}
h1{
    color: red;
}

p{
    color: green;
}
ul{
    list-style: none;

}
hr{
    border: solid 2px black;
}

#hi{
    border: dotted 4px green;
}
span{
    font-weight: 700;
}
